body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

span {
  color: white;
}

.timeline {
  display: flex;
  position: relative;
  background: #f9fdff;
}

.view {
  height: 400px;
  width: 1225px;
  overflow: hidden;
}

.header {
  height: 20px;
  border: 1px solid black;
  position: absolute;
  color: black;
}

.eventBox {
  position: absolute;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}